/* Стили аккордеона */
.accordion__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    padding: 0;
}

.accordion__content.active {
    max-height: 1000px; 
    padding: 15px 0;
    transition: max-height 0.5s ease-in;
}

.accordion__content-text {
    padding: 10px 0;
}

/* Стили для иконки плюсика */
.accordion__btn-icon {
    display: inline-block;
    transition: transform 0.3s ease;
}

.accordion__btn-icon.active {
    transform: rotate(45deg);
}

/* Дополнительные стили для плавности */
.accordion__inner {
    opacity: 0;
    transition: opacity 0.3s ease 0.1s;
}

.accordion__content.active .accordion__inner {
    opacity: 1;
}

.accordion__content {
  display: none;
  /* Изначально скрываем текст */
}

.accordion__content.visible {
  display: block;
  /* Показываем текст при добавлении класса visible */
}

.accordion__btn--active+.accordion__content {
  display: flex;
}