
.header__top {
  padding: 18px 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #E9EBF0;
}

.header__logo-link {
  margin: 0 56px 0 0;
}

.header__logo-link svg {
  height: 26px;
  width: 140px;
}

.header__catalog-btn {
  background-color: transparent;
  border: 1px solid #9BE198;
  border-radius: 6px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 40px 0 0;
}

.header__catalog-text {
  font-size: 14px;
  line-height: 19.6px;
}

.header__user-list {
  margin: 0 0 0 auto;
  display: flex;
  padding: 0;
  list-style: none;
  gap: 20px;
  position: relative;
}

.header__user-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 16.8px;
  gap: 5px;
  position: relative;
}

.header__user-btn svg {
  height: 24px;
  width: 24px;
}

.header__user-count {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #9BE198;
  position: absolute;
  top: -5px;
  right: -13px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ffffff;
}

.header__bottom {
  padding: 18px 0;
  display: flex;
  align-items: center;
}

.header__nav-list {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-right: 345px;

}

.header__contacts {
  display: flex;
  align-items: center;
}

.header__btn {
  width: 170px;
}

.header__phone {
  font-size: 14px;
  line-height: 19.6px;
  transition: color 0.2s;
}

.header__phone:hover {
  color: #6FC76C;
}

/* modal.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  min-width: 300px;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}