.catalog-form__fieldset {
  border: none;
  border-bottom: 1px solid #e9ebf0;
  padding: 0 0 30px;
  margin: 0;
}

.catalog-form__legend {
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  margin: 0 0 30px 0;
}

.catalog-form__list-row {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
}

.custom-radio {
  position: relative;
}

.custom-radio__field:checked ~ .custom-radio__label .custom-radio__toggle {
  background-color: #9be198;
}

.custom-radio__field:checked
  ~ .custom-radio__label
  .custom-radio__toggle::after {
  left: calc(100% - 17px);
}

.custom-radio__label {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-weight: 400;
  justify-content: center;
  line-height: 19.6px;
  padding: 30px 0 0;
  position: relative;
  transition: opacity ease-in 0.3s;
}

.custom-radio__label:hover,
.custom-radio__label:focus-visible {
  opacity: 0.7;
}

.custom-radio__toggle {
  background-color: #e9ebf0;
  border-radius: 12px;
  height: 20px;
  left: 50%;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  transition: background-color ease-in 0.3s;
  width: 40px;
}

.custom-radio__toggle::after {
  background-color: #ffffff;
  border-radius: 50%;
  content: "";
  height: 14px;
  left: 3px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: left ease-in 0.3s, right ease-in 0.3s;
  width: 14px;
}

.catalog__title {
  margin: 0 0 44px 0;
  font-size: 42px;
  font-weight: 700;
  line-height: 54.6px;
}

.catalog__wrapper {
  display: grid;
  grid-template-columns: 290px 1fr;
  gap: 40px;
  margin: 0 0 80px 0;
  align-items: start;
}

.catalog__sort {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 40px;
}

.catalog__sort-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
}

.catalog__sort-select {
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: #9be198;
  border: none;
}

.catalog__list {
  margin: 0 0 40px;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  gap: 40px;
}

.catalog__pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 10px;
}

.catalog__pagination-link {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  line-height: 25.2px;
  color: #a5a5a5;
  transition: opacity ease-in 0.3s;
  border: none;
  background-color: transparent;
}

.catalog__pagination-link:hover {
  opacity: 0.7;
}

.catalog__pagination-link:disabled {
  pointer-events: none;
}

.catalog__pagination-link:not(:disabled) {
  color: #000000;
}

.catalog-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: sticky;
  top: 20px;
}

.catalog-form__reset {
  border: 1px solid #e9ebf0;
  padding: 15px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;
  transition: opacity ease-in 0.3s;
  cursor: pointer;
}

.catalog-form__reset:hover,
.catalog-form__reset:focus-visible {
  opacity: 0.7;
}
